
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

   /* shared style */
.font-open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}
.logo h2{
    font-size: 45px;
    font-weight: 900px;
}
.color-orange{
    color: #FD6E0A;
}

.btn{

    border: none;
    border-radius: 5px;
    padding: 18px 35px;
    color:white ;
    font-size: 20px;
    font-weight: bold;
    background-color:#FD6E0A ;


}

  /* main style */
header{
    background-color: #FFF8F3;
}
nav{
    width: 71%;
    max-width: 1140px;
    /* border: 1px solid red; */
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ul.menu{
    display: flex;
    gap: 51px;
    list-style-type: none;
    align-items: center ;
}

ul.menu a{
    font-size: 20px;
    color: #474747;
    text-decoration: none;
}

/* Banner Section */

#banner{
    /* border: 1px solid red; */
    margin: 46px 38px 0px 230px;
    display:flex;
    justify-content: space-between;
    align-items: center;

}
#banner .banner-content{
    max-width: 500px;
}
#banner .banner-content h2 {
    font-size: 45px;
    font-weight: 600;
    color: #474747;
    margin-bottom: 5.02px;
}
#banner .banner-content h1{

    font-size: 85px;
    font-weight: 700;
    color: #181818;
    margin-bottom: 20.1px;
}

